In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
covid = pd.read_csv("Covid Data.csv")
covid.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
covid.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [4]:
covid['PREGNANT'].unique()

array([ 2, 97, 98,  1], dtype=int64)

In [5]:
covid['PATIENT_TYPE'].unique()

array([1, 2], dtype=int64)

In [6]:
covid = covid.drop(['CLASIFFICATION_FINAL', 'USMER', 'MEDICAL_UNIT'], axis=1)
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,9999-99-99,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,9999-99-99,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,9999-99-99,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,9999-99-99,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,9999-99-99,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [7]:
covid.loc[covid["DATE_DIED"] == "9999-99-99", "DATE_DIED"] = 0
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [8]:
covid.loc[covid["DATE_DIED"] != 0, "DATE_DIED"] = 1
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,1,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [9]:
covid = covid.rename(columns={'DATE_DIED':'DIED', 'INMSUPR':'IMSUPR', 'HIPERTENSION':'HYPERTENSION'})
covid

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,1,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [10]:
covid['DIED'].value_counts()

0    971633
1     76942
Name: DIED, dtype: int64

In [11]:
covid['INTUBED'].value_counts()

97    848544
2     159050
1      33656
99      7325
Name: INTUBED, dtype: int64

In [12]:
covid['PNEUMONIA'].value_counts()

2     892534
1     140038
99     16003
Name: PNEUMONIA, dtype: int64

In [13]:
covid['PREGNANT'].value_counts()

97    523511
2     513179
1       8131
98      3754
Name: PREGNANT, dtype: int64

In [14]:
covid['DIABETES'].value_counts()

2     920248
1     124989
98      3338
Name: DIABETES, dtype: int64

In [15]:
covid['COPD'].value_counts()

2     1030510
1       15062
98       3003
Name: COPD, dtype: int64

In [16]:
covid['ASTHMA'].value_counts()

2     1014024
1       31572
98       2979
Name: ASTHMA, dtype: int64

In [17]:
covid['IMSUPR'].value_counts()

2     1031001
1       14170
98       3404
Name: IMSUPR, dtype: int64

In [18]:
covid['HYPERTENSION'].value_counts()

2     882742
1     162729
98      3104
Name: HYPERTENSION, dtype: int64

In [19]:
covid['OTHER_DISEASE'].value_counts()

2     1015490
1       28040
98       5045
Name: OTHER_DISEASE, dtype: int64

In [20]:
covid['CARDIOVASCULAR'].value_counts()

2     1024730
1       20769
98       3076
Name: CARDIOVASCULAR, dtype: int64

In [21]:
covid['OBESITY'].value_counts()

2     885727
1     159816
98      3032
Name: OBESITY, dtype: int64

In [22]:
covid['RENAL_CHRONIC'].value_counts()

2     1026665
1       18904
98       3006
Name: RENAL_CHRONIC, dtype: int64

In [23]:
covid['TOBACCO'].value_counts()

2     960979
1      84376
98      3220
Name: TOBACCO, dtype: int64

In [24]:
covid['ICU'].value_counts()

97    848544
2     175685
1      16858
99      7488
Name: ICU, dtype: int64

In [25]:
replace98 = covid.replace(98, np.nan)
replace98

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
1,2,1,1,97,1,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97
2,2,2,1,1,2,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
3,1,1,1,97,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
4,2,1,1,97,2,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048571,2,2,0,2,2,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2
1048572,2,1,0,97,2,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048573,2,1,0,97,2,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048574,2,1,0,97,2,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97

In [26]:
replace99 = replace98.replace(99, np.nan)
replace99

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97.0,1.0,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
1,2,1,1,97.0,1.0,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97.0
2,2,2,1,1.0,2.0,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,97.0,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
4,2,1,1,97.0,2.0,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97.0,2.0,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048571,2,2,0,2.0,2.0,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,97.0,2.0,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048573,2,1,0,97.0,2.0,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048574,2,1,0,97.0,2.0,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0

In [27]:
dropped = replace98.dropna()
dropped

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
1,2,1,1,97,1,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97
2,2,2,1,1,2,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
3,1,1,1,97,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
4,2,1,1,97,2,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048571,2,2,0,2,2,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2
1048572,2,1,0,97,2,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048573,2,1,0,97,2,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048574,2,1,0,97,2,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97

In [30]:
dropped.dtypes

SEX                 int64
PATIENT_TYPE        int64
DIED                int64
INTUBED             int64
PNEUMONIA           int64
AGE               float64
PREGNANT          float64
DIABETES          float64
COPD              float64
ASTHMA            float64
IMSUPR            float64
HYPERTENSION      float64
OTHER_DISEASE     float64
CARDIOVASCULAR    float64
OBESITY           float64
RENAL_CHRONIC     float64
TOBACCO           float64
ICU                 int64
dtype: object

In [31]:
covid = dropped.replace(97, np.nan)
covid

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,NaN,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,NaN
1,2,1,1,NaN,1,72.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,NaN
2,2,2,1,1.0,2,55.0,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,NaN,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
4,2,1,1,NaN,2,68.0,NaN,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,NaN,2,40.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048571,2,2,0,2.0,2,51.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,NaN,2,55.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048573,2,1,0,NaN,2,28.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048574,2,1,0,NaN,2,52.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN

In [33]:
covid = covid.drop(['INTUBED', 'ICU'], axis=1)
covid

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,1,72.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,1,2,55.0,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2,1,1,2,68.0,NaN,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,2,40.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048571,2,2,0,2,51.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,2,55.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048573,2,1,0,2,28.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048574,2,1,0,2,52.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [34]:
Covid_final = covid.dropna()
Covid_final

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
5,1,2,0,1,40.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
6,1,1,0,2,64.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
7,1,1,0,1,64.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048563,1,1,0,2,46.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048564,1,1,0,2,30.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0
1048565,1,1,0,2,39.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048567,1,2,0,2,23.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
1048569,1,2,0,2,56.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0