In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
covid = pd.read_csv("Covid Data.csv")
covid.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
covid.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [4]:
covid['PREGNANT'].unique()

array([ 2, 97, 98,  1], dtype=int64)

In [5]:
covid['PATIENT_TYPE'].unique()

array([1, 2], dtype=int64)

In [6]:
covid = covid.drop(['CLASIFFICATION_FINAL', 'USMER', 'MEDICAL_UNIT'], axis=1)
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,9999-99-99,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,9999-99-99,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,9999-99-99,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,9999-99-99,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,9999-99-99,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [7]:
covid.loc[covid["DATE_DIED"] == "9999-99-99", "DATE_DIED"] = 0
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [8]:
covid.loc[covid["DATE_DIED"] != 0, "DATE_DIED"] = 1
covid

,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,1,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [9]:
covid = covid.rename(columns={'DATE_DIED':'DIED', 'INMSUPR':'IMSUPR', 'HIPERTENSION':'HYPERTENSION'})
covid

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65,2,2,2,2,2,1,2,2,2,2,2,97
1,2,1,1,97,1,72,97,2,2,2,2,1,2,2,1,1,2,97
2,2,2,1,1,2,55,97,1,2,2,2,2,2,2,2,2,2,2
3,1,1,1,97,2,53,2,2,2,2,2,2,2,2,2,2,2,97
4,2,1,1,97,2,68,97,1,2,2,2,1,2,2,2,2,2,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40,97,2,2,2,2,2,2,2,2,2,2,97
1048571,2,2,0,2,2,51,97,2,2,2,2,1,2,2,2,2,2,2
1048572,2,1,0,97,2,55,97,2,2,2,2,2,2,2,2,2,2,97
1048573,2,1,0,97,2,28,97,2,2,2,2,2,2,2,2,2,2,97
1048574,2,1,0,97,2,52,97,2,2,2,2,2,2,2,2,2,2,97

In [10]:
covid['SEX'].value_counts()

1    525064
2    523511
Name: SEX, dtype: int64

In [11]:
covid['DIED'].value_counts()

0    971633
1     76942
Name: DIED, dtype: int64

In [12]:
covid['INTUBED'].value_counts()

97    848544
2     159050
1      33656
99      7325
Name: INTUBED, dtype: int64

In [13]:
covid['PNEUMONIA'].value_counts()

2     892534
1     140038
99     16003
Name: PNEUMONIA, dtype: int64

In [14]:
covid['DIABETES'].value_counts()

2     920248
1     124989
98      3338
Name: DIABETES, dtype: int64

In [15]:
covid['PREGNANT'].value_counts()

97    523511
2     513179
1       8131
98      3754
Name: PREGNANT, dtype: int64

In [16]:
covid['COPD'].value_counts()

2     1030510
1       15062
98       3003
Name: COPD, dtype: int64

In [17]:
covid['ASTHMA'].value_counts()

2     1014024
1       31572
98       2979
Name: ASTHMA, dtype: int64

In [18]:
covid['IMSUPR'].value_counts()

2     1031001
1       14170
98       3404
Name: IMSUPR, dtype: int64

In [19]:
covid['HYPERTENSION'].value_counts()

2     882742
1     162729
98      3104
Name: HYPERTENSION, dtype: int64

In [20]:
covid['OTHER_DISEASE'].value_counts()

2     1015490
1       28040
98       5045
Name: OTHER_DISEASE, dtype: int64

In [21]:
covid['CARDIOVASCULAR'].value_counts()

2     1024730
1       20769
98       3076
Name: CARDIOVASCULAR, dtype: int64

In [22]:
covid['OBESITY'].value_counts()

2     885727
1     159816
98      3032
Name: OBESITY, dtype: int64

In [23]:
covid['RENAL_CHRONIC'].value_counts()

2     1026665
1       18904
98       3006
Name: RENAL_CHRONIC, dtype: int64

In [24]:
covid['TOBACCO'].value_counts()

2     960979
1      84376
98      3220
Name: TOBACCO, dtype: int64

In [25]:
covid['ICU'].value_counts()

97    848544
2     175685
1      16858
99      7488
Name: ICU, dtype: int64

In [26]:
replace98 = covid.replace(98, np.nan)
replace98

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97,1,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
1,2,1,1,97,1,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97
2,2,2,1,1,2,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2
3,1,1,1,97,2,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
4,2,1,1,97,2,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97,2,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048571,2,2,0,2,2,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2
1048572,2,1,0,97,2,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048573,2,1,0,97,2,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97
1048574,2,1,0,97,2,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97

In [27]:
replace99 = replace98.replace(99, np.nan)
replace99

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97.0,1.0,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
1,2,1,1,97.0,1.0,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97.0
2,2,2,1,1.0,2.0,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,97.0,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
4,2,1,1,97.0,2.0,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97.0,2.0,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048571,2,2,0,2.0,2.0,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,97.0,2.0,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048573,2,1,0,97.0,2.0,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048574,2,1,0,97.0,2.0,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0

In [28]:
dropped = replace99.dropna()
dropped

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,97.0,1.0,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
1,2,1,1,97.0,1.0,72.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,97.0
2,2,2,1,1.0,2.0,55.0,97.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,97.0,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
4,2,1,1,97.0,2.0,68.0,97.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,97.0,2.0,40.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048571,2,2,0,2.0,2.0,51.0,97.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,97.0,2.0,55.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048573,2,1,0,97.0,2.0,28.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0
1048574,2,1,0,97.0,2.0,52.0,97.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,97.0

In [29]:
dropped.dtypes

SEX                 int64
PATIENT_TYPE        int64
DIED                int64
INTUBED           float64
PNEUMONIA         float64
AGE               float64
PREGNANT          float64
DIABETES          float64
COPD              float64
ASTHMA            float64
IMSUPR            float64
HYPERTENSION      float64
OTHER_DISEASE     float64
CARDIOVASCULAR    float64
OBESITY           float64
RENAL_CHRONIC     float64
TOBACCO           float64
ICU               float64
dtype: object

In [30]:
covid = dropped.replace(97, np.nan)
covid

,SEX,PATIENT_TYPE,DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,ICU
0,1,1,1,NaN,1.0,65.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,NaN
1,2,1,1,NaN,1.0,72.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,NaN
2,2,2,1,1.0,2.0,55.0,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,NaN,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
4,2,1,1,NaN,2.0,68.0,NaN,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,NaN,2.0,40.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048571,2,2,0,2.0,2.0,51.0,NaN,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,NaN,2.0,55.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048573,2,1,0,NaN,2.0,28.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1048574,2,1,0,NaN,2.0,52.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN

In [31]:
covid = covid.drop(['INTUBED', 'ICU', 'PREGNANT'], axis=1)
covid

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1.0,65.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,1.0,72.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,1,2.0,55.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2,1,1,2.0,68.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,2.0,40.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048571,2,2,0,2.0,51.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,2.0,55.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048573,2,1,0,2.0,28.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048574,2,1,0,2.0,52.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [32]:
Covid_final = covid.dropna()
Covid_final

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1.0,65.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,1.0,72.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,1,2.0,55.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2,1,1,2.0,68.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,1,0,2.0,40.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048571,2,2,0,2.0,51.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1048572,2,1,0,2.0,55.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048573,2,1,0,2.0,28.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1048574,2,1,0,2.0,52.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [35]:
covid['SEX'].value_counts()

2    510510
1    508963
Name: SEX, dtype: int64

In [36]:
covid['DIED'].value_counts()

0    946215
1     73258
Name: DIED, dtype: int64

In [37]:
covid['PNEUMONIA'].value_counts()

2.0    883125
1.0    136348
Name: PNEUMONIA, dtype: int64

In [38]:
covid['DIABETES'].value_counts()

2.0    897976
1.0    121497
Name: DIABETES, dtype: int64

In [39]:
covid['COPD'].value_counts()

2.0    1005242
1.0      14231
Name: COPD, dtype: int64

In [40]:
covid['ASTHMA'].value_counts()

2.0    989144
1.0     30329
Name: ASTHMA, dtype: int64

In [41]:
covid['IMSUPR'].value_counts()

2.0    1005956
1.0      13517
Name: IMSUPR, dtype: int64

In [42]:
covid['HYPERTENSION'].value_counts()

2.0    861084
1.0    158389
Name: HYPERTENSION, dtype: int64

In [43]:
covid['OTHER_DISEASE'].value_counts()

2.0    992495
1.0     26978
Name: OTHER_DISEASE, dtype: int64

In [44]:
covid['CARDIOVASCULAR'].value_counts()

2.0    999505
1.0     19968
Name: CARDIOVASCULAR, dtype: int64

In [45]:
covid['OBESITY'].value_counts()

2.0    863429
1.0    156044
Name: OBESITY, dtype: int64

In [46]:
covid['RENAL_CHRONIC'].value_counts()

2.0    1001260
1.0      18213
Name: RENAL_CHRONIC, dtype: int64

In [47]:
covid['TOBACCO'].value_counts()

2.0    937132
1.0     82341
Name: TOBACCO, dtype: int64

In [48]:
Covid_final.to_csv('Cleaned_Covid.csv')