In [1]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#Import and read the Cleaned_Covid.csv.
import pandas as pd 
covid_df = pd.read_csv("Cleaned_Covid.csv")
covid_df.head()

,Unnamed: 0,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,0,1,1,1,1.0,65.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,1,2,1,1,1.0,72.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,2,1,2.0,55.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,3,1,1,1,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,4,2,1,1,2.0,68.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0

In [2]:
covid_df = covid_df.drop(columns=["Unnamed: 0"])
covid_df.head()

,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,1,1,1.0,65.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,1.0,72.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,1,2.0,55.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,1,1,1,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2,1,1,2.0,68.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0

In [3]:
covid_df = covid_df.astype("int64")

In [4]:
covid_df = covid_df.rename(columns=str.lower)
covid_df

,sex,patient_type,died,pneumonia,age,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco
0,1,1,1,1,65,2,2,2,2,1,2,2,2,2,2
1,2,1,1,1,72,2,2,2,2,1,2,2,1,1,2
2,2,2,1,2,55,1,2,2,2,2,2,2,2,2,2
3,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2
4,2,1,1,2,68,1,2,2,2,1,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019340,2,1,0,2,40,2,2,2,2,2,2,2,2,2,2
1019341,2,2,0,2,51,2,2,2,2,1,2,2,2,2,2
1019342,2,1,0,2,55,2,2,2,2,2,2,2,2,2,2
1019343,2,1,0,2,28,2,2,2,2,2,2,2,2,2,2
1019344,2,1,0,2,52,2,2,2,2,2,2,2,2,2,2

In [5]:
covid_df["sex"] = covid_df["sex"].replace(2, 0)
covid_df["patient_type"] = covid_df["patient_type"].replace(2, 0)
covid_df["pneumonia"] = covid_df["pneumonia"].replace(2, 0)
covid_df["diabetes"] = covid_df["diabetes"].replace(2, 0)
covid_df["copd"] = covid_df["copd"].replace(2, 0)
covid_df["asthma"] = covid_df["asthma"].replace(2, 0)
covid_df["imsupr"] = covid_df["imsupr"].replace(2, 0)
covid_df["hypertension"] = covid_df["hypertension"].replace(2, 0)
covid_df["other_disease"] = covid_df["other_disease"].replace(2, 0)
covid_df["cardiovascular"] = covid_df["cardiovascular"].replace(2, 0)
covid_df["obesity"] = covid_df["obesity"].replace(2, 0)
covid_df["renal_chronic"] = covid_df["renal_chronic"].replace(2, 0)
covid_df["tobacco"] = covid_df["tobacco"].replace(2, 0)
covid_df

,sex,patient_type,died,pneumonia,age,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco
0,1,1,1,1,65,0,0,0,0,1,0,0,0,0,0
1,0,1,1,1,72,0,0,0,0,1,0,0,1,1,0
2,0,0,1,0,55,1,0,0,0,0,0,0,0,0,0
3,1,1,1,0,53,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,68,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019340,0,1,0,0,40,0,0,0,0,0,0,0,0,0,0
1019341,0,0,0,0,51,0,0,0,0,1,0,0,0,0,0
1019342,0,1,0,0,55,0,0,0,0,0,0,0,0,0,0
1019343,0,1,0,0,28,0,0,0,0,0,0,0,0,0,0
1019344,0,1,0,0,52,0,0,0,0,0,0,0,0,0,0

In [6]:
young = [*range(0,26,1)]
middle = [*range(26, 51,1)]
older = [*range(51, 122,1)]
young

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [7]:
for age in young:
  covid_df["age"] = covid_df["age"].replace(age, "0-25")

for age in middle:
  covid_df["age"] = covid_df["age"].replace(age, "26-50")

for age in older:
  covid_df["age"] = covid_df["age"].replace(age, "51-121")

covid_df["age"].value_counts()

26-50     578587
51-121    292291
0-25      148467
Name: age, dtype: int64

In [8]:
covid_df.dtypes

sex                int64
patient_type       int64
died               int64
pneumonia          int64
age               object
diabetes           int64
copd               int64
asthma             int64
imsupr             int64
hypertension       int64
other_disease      int64
cardiovascular     int64
obesity            int64
renal_chronic      int64
tobacco            int64
dtype: object

In [9]:
new_covid_df = pd.get_dummies(covid_df)
new_covid_df

,sex,patient_type,died,pneumonia,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,age_0-25,age_26-50,age_51-121
0,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1
1,0,1,1,1,0,0,0,0,1,0,0,1,1,0,0,0,1
2,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019340,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1019341,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
1019342,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1019343,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1019344,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [10]:
#Second model data split for target: "patient_type"
X = new_covid_df.drop(columns=["patient_type", "died"]).values
y = new_covid_df["patient_type"].values
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)
X.shape

(1019345, 15)

In [11]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
nn_type = tf.keras.models.Sequential()

nn_type.add(tf.keras.layers.Dense(units=30, activation="relu", input_dim=15))
nn_type.add(tf.keras.layers.Dense(units=10, activation="relu"))
nn_type.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
nn_type.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 30)                480

 dense_7 (Dense)             (None, 10)                310

 dense_8 (Dense)             (None, 1)                 11

=================================================================
Total params: 801
Trainable params: 801
Non-trainable params: 0
_________________________________________________________________

In [18]:
nn_type.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
fit_model_type = nn_type.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
23891/23891 [==============================] - 58s 2ms/step - loss: 0.2848 - accuracy: 0.9027
Epoch 2/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2818 - accuracy: 0.9037
Epoch 3/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2815 - accuracy: 0.9039
Epoch 4/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2814 - accuracy: 0.9038
Epoch 5/20
23891/23891 [==============================] - 63s 3ms/step - loss: 0.2813 - accuracy: 0.9039
Epoch 6/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2813 - accuracy: 0.9038
Epoch 7/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2812 - accuracy: 0.9039
Epoch 8/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2811 - accuracy: 0.9040
Epoch 9/20
23891/23891 [==============================] - 55s 2ms/step - loss: 0.2810 - accuracy: 0.9040
Epoch 10/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2811 - accuracy: 0.9039
Epoch 11/20
23891/23891 [==============================] - 52s 2ms/step - loss: 0.2811 - accuracy: 0.9039
Epoch 12/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9041
Epoch 13/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9040
Epoch 14/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9040
Epoch 15/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9039
Epoch 16/20
23891/23891 [==============================] - 58s 2ms/step - loss: 0.2810 - accuracy: 0.9040
Epoch 17/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9041
Epoch 18/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2809 - accuracy: 0.9039
Epoch 19/20
23891/23891 [==============================] - 53s 2ms/step - loss: 0.2810 - accuracy: 0.9040
Epoch 20/20
23891/23891 [==============================] - 56s 2ms/step - loss: 0.2809 - accuracy: 0.9040

In [20]:
model_loss, model_accuracy = nn_type.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

7964/7964 - 9s - loss: 0.2814 - accuracy: 0.9040 - 9s/epoch - 1ms/step
Loss: 0.2813712954521179, Accuracy: 0.9040367007255554

In [21]:
nn_type.save("NeuralNetworkType.h5")