In [2]:
#Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#Import and read the Cleaned_Covid.csv.
import pandas as pd 
covid_df = pd.read_csv("Cleaned_Covid.csv")
covid_df.head()

,Unnamed: 0,SEX,PATIENT_TYPE,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,IMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,0,1,1,1,1.0,65.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,1,2,1,1,1.0,72.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0
2,2,2,2,1,2.0,55.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,3,1,1,1,2.0,53.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,4,2,1,1,2.0,68.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0

In [3]:
#Start cleaning data further, removing "unnamed" column, changing data types, and renaming all columns
covid_df = covid_df.drop(columns=["Unnamed: 0"])
covid_df = covid_df.astype("int64")
covid_df = covid_df.rename(columns=str.lower)
covid_df.head()

,sex,patient_type,died,pneumonia,age,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco
0,1,1,1,1,65,2,2,2,2,1,2,2,2,2,2
1,2,1,1,1,72,2,2,2,2,1,2,2,1,1,2
2,2,2,1,2,55,1,2,2,2,2,2,2,2,2,2
3,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2
4,2,1,1,2,68,1,2,2,2,1,2,2,2,2,2

In [4]:
#Change all values of 2 to 0
covid_df["sex"] = covid_df["sex"].replace(2, 0)
covid_df["patient_type"] = covid_df["patient_type"].replace(2, 0)
covid_df["pneumonia"] = covid_df["pneumonia"].replace(2, 0)
covid_df["diabetes"] = covid_df["diabetes"].replace(2, 0)
covid_df["copd"] = covid_df["copd"].replace(2, 0)
covid_df["asthma"] = covid_df["asthma"].replace(2, 0)
covid_df["imsupr"] = covid_df["imsupr"].replace(2, 0)
covid_df["hypertension"] = covid_df["hypertension"].replace(2, 0)
covid_df["other_disease"] = covid_df["other_disease"].replace(2, 0)
covid_df["cardiovascular"] = covid_df["cardiovascular"].replace(2, 0)
covid_df["obesity"] = covid_df["obesity"].replace(2, 0)
covid_df["renal_chronic"] = covid_df["renal_chronic"].replace(2, 0)
covid_df["tobacco"] = covid_df["tobacco"].replace(2, 0)
covid_df.head()

,sex,patient_type,died,pneumonia,age,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco
0,1,1,1,1,65,0,0,0,0,1,0,0,0,0,0
1,0,1,1,1,72,0,0,0,0,1,0,0,1,1,0
2,0,0,1,0,55,1,0,0,0,0,0,0,0,0,0
3,1,1,1,0,53,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,68,1,0,0,0,1,0,0,0,0,0

In [5]:
#Create 3 categorical groups for the ages to limit variability
young = [*range(0,26,1)]
middle = [*range(26, 51,1)]
older = [*range(51, 122,1)]

#Bin the ages
for age in young:
  covid_df["age"] = covid_df["age"].replace(age, "0-25")

for age in middle:
  covid_df["age"] = covid_df["age"].replace(age, "26-50")

for age in older:
  covid_df["age"] = covid_df["age"].replace(age, "51-121")

In [6]:
#Turn categorical data to numeric
new_covid_df = pd.get_dummies(covid_df)
new_covid_df.head()

,sex,patient_type,died,pneumonia,diabetes,copd,asthma,imsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,age_0-25,age_26-50,age_51-121
0,1,1,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1
1,0,1,1,1,0,0,0,0,1,0,0,1,1,0,0,0,1
2,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
3,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1

In [7]:
#Split the data
X = new_covid_df.drop(columns=["patient_type", "died"]).values
y = new_covid_df["patient_type"].values
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)
X.shape

(1019345, 15)

In [8]:
#Scale the data
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Implementing a keras model tuner to improve accuracy
def create_model(hp):
    nn_type_model = tf.keras.models.Sequential()
    
    activation = hp.Choice("activation", ["relu", "tanh", "sigmoid"])
    
    nn_type_model.add(tf.keras.layers.Dense(units=hp.Int("first_units", min_value= 1, max_value= 150, step= 2),
                                      activation= activation, input_dim= 15))
    
    for i in range(hp.Int("num_layers", 1, 6)):
        nn_type_model.add(tf.keras.layers.Dense(units=hp.Int("units_" + str(i), min_value= 1, max_value= 150, step=2),
                                           activation=activation))
    nn_type_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    
    nn_type_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    return nn_type_model

In [10]:
from tensorflow import keras
import keras_tuner as kt

tuner = kt.Hyperband(create_model, objective="val_accuracy", max_epochs = 100, hyperband_iterations=1)

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json
INFO:tensorflow:Reloading Tuner from .\untitled_project\tuner0.json

In [ ]:
tuner.search(X_train_scaled, y_train, epochs= 100, validation_data=(X_test_scaled, y_test))

Search: Running Trial #501

Value             |Best Value So Far |Hyperparameter
relu              |relu              |activation
111               |69                |first_units
3                 |5                 |num_layers
113               |147               |units_0
63                |125               |units_1
71                |45                |units_2
5                 |43                |units_3
137               |63                |units_4
107               |39                |units_5
100               |12                |tuner/epochs
34                |0                 |tuner/initial_epoch
1                 |2                 |tuner/bracket
1                 |0                 |tuner/round
0492              |None              |tuner/trial_id

Epoch 35/100
23857/23891 [============================>.] - ETA: 0s - loss: 0.2841 - accuracy: 0.9033

In [12]:
#Show the top hyperparameters
top_hyper = tuner.get_best_hyperparameters(1)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 69, 'num_layers': 5, 'units_0': 147, 'units_1': 125, 'units_2': 45, 'units_3': 43, 'units_4': 63, 'units_5': 39, 'tuner/epochs': 12, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0}

In [13]:
#Evaluate the tuned model
tuner_model = tuner.get_best_models(1)
for model in tuner_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

7964/7964 - 9s - loss: 0.2819 - accuracy: 0.9044 - 9s/epoch - 1ms/step
Loss: 0.28193703293800354, Accuracy: 0.9043859243392944

In [14]:
#Save the model for future implementation
for model in tuner_model:
    model.save("NN_Type_Optimization.h5")